<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>登录系统</title>

    <div th:replace="common/common-resources :: common-resources-ant-css"></div>
    <link rel="stylesheet" th:href="@{/css/common/common.css}"/>
    <div th:replace="common/common-resources :: common-resources-contextPath"></div>
    <link rel="stylesheet" th:href="@{/css/system/login/Login.css}"/>

</head>

<body>
<div id="vue-container" class="full-height">
    <vue-main/>
</div>

<!--引入axios-->
<div th:replace="common/common-resources :: common-resources-axios"></div>
<!--引入vue-->
<div th:replace="common/common-resources :: common-resources-vue"></div>
<!--引入ant-->
<div th:replace="common/common-resources :: common-resources-ant-js"></div>

<div th:replace="common/common-resources :: common-resources-requireJS"></div>
<script th:src="@{/js/common/common.js}"></script>


<script type="text/javascript" th:inline="javascript">
    ready(function () {
        // 设置后台请求地址
        const API_URL = localStorage.getItem('API_URL')
        if (!API_URL || API_URL === '') {
            localStorage.setItem('API_URL', env.apiUrl || '')
        }
        require(['js/system/pages/login/LoginPage'], function (module) {
            var page = new module.default()
            page.init()
        })
    })
</script>
</body>
</html>