<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

    <!--vue引入-->
    <div th:fragment="common-resources-vue">
        <script th:if="${env.development == true}" src="/library/vue/2.6.12/vue.js" th:src="@{/library/vue/2.6.12/vue.js}"></script>
        <script th:if="${env.development == false}" src="/library/vue/2.6.12/vue.min.js" th:src="@{/library/vue/2.6.12/vue.min.js}"></script>
    </div>

    <!--moment引入-->
    <div th:fragment="common-resources-moment">
        <script th:if="${env.development == true}" src="/library/moment/2.24.0/moment.js" th:src="@{/library/moment/2.24.0/moment.js}"></script>
        <script th:if="${env.development == false}" src="/library/moment/2.24.0/moment.min.js" th:src="@{/library/moment/2.24.0/moment.min.j}"></script>
    </div>

    <!--element-ui 引入-->
    <!--  ant-design-vue引入  -->
    <div th:fragment="common-resources-ant-js">
        <script th:if="${env.development == true}" src="/library/ant-design-vue/1.6.5/antd.js" th:src="@{/library/ant-design-vue/1.6.5/antd.js}"></script>
        <script th:if="${env.development == false}" src="/library/ant-design-vue/1.6.5/antd.min.js" th:src="@{/library/ant-design-vue/1.6.5/antd.min.js}"></script>
    </div>
    <div th:fragment="common-resources-ant-css">
        <link rel="stylesheet" th:if="${env.development == true}" href="/library/ant-design-vue/1.6.5/antd.css" th:href="@{/library/ant-design-vue/1.6.5/antd.css}"/>
        <link rel="stylesheet" th:if="${env.development == false}" href="/library/ant-design-vue/1.6.5/antd.min.css" th:href="@{/library/ant-design-vue/1.6.5/antd.min.css}"/>
    </div>

    <!--  axios引入  -->
    <div th:fragment="common-resources-axios">
        <script  th:src="@{/library/axios/0.20.0/axios.min.js}"></script>
    </div>

    <!--bootstrap-->
    <div th:fragment="common-resources-bootstrap-css">
        <link rel="stylesheet" href="/library/bootstrap/4.5.0/css/bootstrap.min.css" th:href="@{/library/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    </div>
    <!--requireJS-->
    <div th:fragment="common-resources-requireJS">
        <script th:if="${env.development == true}" th:src="@{/library/requireJS/2.3.6/require.js}"></script>
        <script th:if="${env.development == false}" th:src="@{/library/requireJS/2.3.6/require.min.js}"></script>
    </div>
    <!--layer 引入-->
    <div th:fragment="common-resources-layerJS">
        <script th:src="@{/jquery/3.4.1/jquery-3.4.1.min.js}"></script>
        <script th:src="@{/layer/3.1.1/layer.js}"></script>
    </div>
    <!--获取项目跟路径-->
    <div th:fragment="common-resources-contextPath">
        <script type="text/javascript" th:inline="javascript">
          /*<![CDATA[*/
          var contextPath = /*[[@{/}]]*/ ''
          /*]]>*/
          var development = [[${env.development}]]

          var env = [[${env}]]
        </script>
    </div>

    <!--图标样式-->
    <div  th:fragment="common-resources-font-awesome">
        <link rel="stylesheet" th:href="@{/font-awesome/4.7.0/css/font-awesome.min.css}"/>
<!--        <link rel="stylesheet" th:href="@{/css/plugins/icon/icon.css}"/>-->
    </div>

</body>
</html>